h1{
    font-weight: 300;
    line-height: 1.5;
    font-size: 2.5rem;
}

article{
    max-width: 700px;
    margin: 0px auto;
    padding: 10px;
    font-family: "Source Sans Pro", sans-serif;
    color: #36363C;
}


.app__logo{
    width: 200;
    height: 100;
    display: flex;
}

.app__header{
    display: flex;
}

.app__redirects{
}