* {
  margin: 0;
}

h1 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 2.5rem;
}

p {
  font-size: 1.3rem;
}

article {
  max-width: 700px;
  margin: 0px auto;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: #36363c;
}

.app__logo {
  width: 200;
  height: 100;
  display: flex;
  object-fit: contain;
  padding-left: 10px;
}

.app__headerButtonsResume{
  text-decoration: none;
  color: white;
}

.app__header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  justify-content: space-between;
  object-fit: contain;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app__headerButtons > button{
  background-color: black;
  color: white;

}

.app__headerButtons{
  margin-right: 0;
}

.app__aboutDescription {
  max-width: 500px;
  padding: 20px;
}

.app__profilePic {
  padding-left: 50px;
  
}

.app__about {
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-top: 100px;
  margin-bottom: 180px;
}

.app__introduction{
    margin-top: 180px;
    margin-bottom: 180px;
}



.app__skillsIndividual{
  margin-right: 20px;
  align-items: center;
  margin-top: 10px;
}

.app__skills{
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.app__contactButtons > button{
  text-decoration: none;
  border: none;
  background-color: white;
  margin-right: 10px;
}


.app__contactButtons{
  margin: 0px auto;

}

.app__contactText{
  max-width: 650px;
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-evenly;
  text-align: center;
}

.app__projects{
  margin-top: 30px;
}

.app__footer{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
