* {
  margin: 0;
}

h1 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 2.5rem;
}

p {
  font-size: 1.3rem;
}
article {
  max-width: 700px;
  margin: 0px auto;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: #36363c;
}

.app__logo {
  width: 200;
  height: 100;
  display: flex;
}

.app__header {
  display: flex;
  position: sticky;
}

.app__aboutDescription {
  max-width: 500px;
  padding: 20px;
}

.app__profilePic {
  padding-left: 50px;
}

.app__about {
  padding: 20px;
  display: flex;
  align-items: center;
  margin-left: 20%;
}

.app__introduction{
    padding-top: 20px;
}

.app__contactButtons{
    padding-top: 20px;
}