.projectCard{
    display: flex;
    border: 4px solid lightgray;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px
}

.projectCard__image > img{
    object-fit: contain;
    max-width: 350px;
    max-height: 300px;
}

.projectCard__link{
    display: flex;
    padding: 10px;
}