.projectCard{
    display: flex;
    border: 4px solid lightgray;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: 10px 10px lightblue;
}


.projectCard__link{
    display: flex;
    padding: 10px;
}

.projectCard__info{
    margin-left: 20px;
}

.projectCard__github{
    text-decoration: none;
    color: black
}





